@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.grid {
  display: flex;
  flex-flow: row wrap;

  .image {
    width: 50%;
    background-color: #a9c5ba;
    text-align: center;
  }

  .content {
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

    h1 {
      width: 80%;
      text-align: right;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      font-family: Mulish;
    }
  }
}
